@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300|Raleway+Dots|Lato:300|Inconsolata|Montserrat');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");




html, body {
  font-family: 'Roboto', sans-serif!important;
  margin: 0;
  height: 100%;
}

.pr{
  height:100%;
  width:100%;
}

.paragraphs{
	margin-left: 5rem;
}

.clearfix.content-heading p,
.info-text{
	font-size: 15px; 
	line-height: 24px; 
	margin: 0 0 24px; 
	text-align: justify; 
	text-justify: inter-word;
	margin-bottom: 5rem;
}

.clearfix.content-heading li{
	font-size: 15px;
	font-weight: bold;
	line-height: 24px; 
	margin: 0 0 24px; 
	text-align: justify; 
	text-justify: inter-word;
}
 
 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer.navbar {
    color : gray;
    font-size: 1.6rem;
    background-color:black;
    position: fixed;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
	min-height: 30px!important;
}


footer li{
  list-style-type: none;
  margin-right: 5%;
  display: inline;
}

footer li img{
  height: 1%;
  width: 1%;
}

.logo{
  height: 5.5rem;
  width: 9rem;
  margin-top: -2rem;
  margin-left: -1.9rem;
  margin-right: -1.5rem;
}

.node-logo{
  border-radius: 50%;
  height:30rem;
  width:30rem;
}


ul.navbar-nav li.active a:hover,
ul.navbar-nav li.active a:focus,
ul.navbar-nav li.active a:active, 
ul.navbar-nav li.active a:target,
ul.navbar-nav li.active a{
  background-color: crimson!important;
}

.background {
  max-height: 35rem!important;
  max-width: 70rem!important;
  display:inline-flex;
  position: absolute;
}

/* Image borders */
img.pull-left, img.pull-right, img.my-border{
  padding: 2rem 4rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  margin-right: 2rem;
  margin-left: 2rem;
}


/* End of section hr */
.divider {
  display: flex;
}
.divider:before, .divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before, .line:after {
  height: 1px;
  margin: 0 1em;
}

.one-line:before, .one-line:after {
  background: linear-gradient(to right, transparent, black, transparent);
}

/* End of section next and previous buttons */
.pager li>a, .pager li>button{
  background-color: maroon!important;
  color: white!important;
  border-radius: 5px!important;
}

.pager li>a:hover, .pager li>button:hover{
  background-color: crimson!important;
  border-radius: 5px!important;
}

.pager li>button:focus{
	outline: 0;
}

/* Button effects */
.effect {
  border: 1px solid #ddd;	
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  /* background-color: - add your own background-color */
  font-family: 'Roboto', sans-serif;
  /* put your font-family */
  font-size: 18px;
  padding: 5px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}
/* effect-1 styles */
.effect.effect-1 {
  transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}
.effect.effect-1:hover {
  text-indent: -20px;
}
.effect.effect-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}
/* effect-2 styles */
.effect.effect-2 {
  transition: all 0.2s linear 0s;
}
.effect.effect-2:before {
  content: "\f0a4";
  font-family: FontAwesome;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 6px 6px 0px;
  transition: all 0.2s linear 0s;
  text-align: center;
}
.effect.effect-2:hover {
  text-indent: -30px;
}
.effect.effect-2:hover:before {
  right: 0;
  text-indent: 0px;
}
/* effect-3 styles */
.effect.effect-3 {
  transition: all 0.2s linear 0s;
}
.effect.effect-3:before {

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s linear 0s;
}

.go-to-home:before {
  content: "Home";
}

.go-to-getting-started:before {
  content: "Getting Started";
}

.go-to-js:before {
  content: "JavaScript";
}

.go-to-node-modules:before {
  content: "Node Modules";
}

.go-to-rest:before {
  content: "REST API";
}

.go-to-express:before {
  content: "ExpressJS";
}




.effect.effect-3:hover {
  text-indent: -9999px;
}
.effect.effect-3:hover:before {
  top: 0;
  text-indent: 0;
}
/* effect-4 styles */
.effect.effect-4 {
  transition: all 0.2s linear 0s;
}
.effect.effect-4:before {
  content: "\f178";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transform: scale(0, 1);
  transition: all 0.2s linear 0s;
}
.effect.effect-4:hover {
  text-indent: -9999px;
}
.effect.effect-4:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}
/* effect-5 styles */
.effect.effect-5 {
  transition: all 0.2s linear 0s;
}
.effect.effect-5:before {
  content: "\f054";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover {
  text-indent: 30px;
}
.effect.effect-5:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}

/* Section title animation */
.typewriter{
	max-width: fit-content;
}

.typewriter h1 {
	color: black;
	font-family:monospace;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid #fff; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
		typing 3.5s steps(30, end),
    	blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0%}
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black }
  }