@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300|Raleway+Dots|Lato:300|Inconsolata|Montserrat');



html, body {
  font-family: 'Roboto', sans-serif!important;
  margin: 0;
  height: 100%;
}

.pr{
  height:100%;
  width:100%;
}
 
 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer.navbar {
    color : gray;
    font-size: 1.6rem;
    background-color:black;
    position: fixed;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

footer li{
  list-style-type: none;
  display:inline;
  margin-left: 5%;
}

footer li img{
  height: 2%;
  width: 2%;
}

.logo{
  height: 5.5rem;
  width: 9rem;
  margin-top: -2rem;
  margin-left: -1.9rem;
  margin-right: -1.5rem;
}

.node-logo{
  border-radius: 50%;
  height:30rem;
  width:30rem;
}

.info-text{
  margin-bottom: 5rem;
  font-size: 2rem;
}


ul.navbar-nav li.active a:hover,
ul.navbar-nav li.active a:focus,
ul.navbar-nav li.active a:active, 
ul.navbar-nav li.active a:target,
ul.navbar-nav li.active a{
  background-color: crimson!important;
}

.background {
  max-height: 35rem!important;
  max-width: 70rem!important;
  display:inline-flex;
  position: absolute;
}

img.pull-left{
  padding: 2rem 4rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  margin-right: 1rem;

}

img.pull-right{
  padding: 2rem 4rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  margin-left: 1rem;
}

/* End of section hr */
.divider {
  display: flex;
}
.divider:before, .divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before, .line:after {
  height: 1px;
  margin: 0 1em;
}

.one-line:before, .one-line:after {
  background: linear-gradient(to right, transparent, black, transparent);
}

/* End of section next and previous buttons */
.pager li>a{
  background-color: maroon!important;
  color: white!important;
  border-radius: 5px!important;
}

.pager li>a:hover{
  background-color: crimson!important;
  border-radius: 5px!important;
}
